@media (max-width: 900px) {
    .grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }

    .big-stats {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .grid-3,
    .grid-2 {
        grid-template-columns: 1fr;
    }

    .hero-title {
        font-size: 2.2rem;
    }
}
